#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

button {
  margin: 0px;
  margin-top: 24px;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3fr;
  height: 100vh;
  gap: 150px;
  padding: 24px;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.row {
  display: flex;
  gap: 16px;
}

.right {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.right textarea {
  height: 70%;
  resize: none;
}